* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --main-color : rgb(49, 58, 68);
}

html,
body {
  width: 100%;
  height: 100%;
  
}

.app {
  width: 100%;
  height: 100vh;
  background: black;
  overflow: hidden;
  box-shadow: white 0 0 8px 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.app .main-container {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  .app{
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    flex-direction: column;
    gap: 20px;
  }
  .app .main-container {
    flex: 9;
    justify-content:initial;
    gap: 20px;

  }
}
